<% if talks.length.positive? %>
  <div class="md:hidden flex flex-col gap-4 px-4 pt-1.5">
    <%= render partial: "talks/card_horizontal",
          collection: talks,
          as: :talk,
          locals: {
            user_watched_talks: user_watched_talks,
            show_event_name: true,
            variant: :profile,
            tooltip: false
          } %>
  </div>

  <div role="tablist" class="hidden md:flex tabs tabs-boxed bg-base-100 mt-2">
    <input type="radio" name="talk_kinds" role="tab" class="tab px-6 !rounded-lg" aria-label="All" <% if talks.size.positive? %> checked <% end %>>
    <div role="tabpanel" class="tab-content mt-6">
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <%= render partial: "talks/card",
              collection: talks,
              as: :talk,
              locals: {
                favoritable: true,
                user_favorite_talks_ids: user_favorite_talks_ids,
                user_watched_talks: user_watched_talks,
                back_to: back_to_from_request,
                back_to_title: user.name
              } %>
      </div>
    </div>
    <% talks_by_kind.each do |kind, talks| %>
      <input type="radio" name="talk_kinds" role="tab" class="tab px-6 !rounded-lg" aria-label="<%= talks.first.formatted_kind.pluralize %> (<%= talks.size %>)">

      <div role="tabpanel" class="tab-content mt-6">
        <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <%= render partial: "talks/card",
                collection: talks,
                as: :talk,
                locals: {
                  favoritable: true,
                  user_favorite_talks_ids: user_favorite_talks_ids,
                  user_watched_talks: user_watched_talks,
                  back_to: back_to_from_request,
                  back_to_title: user.name
                } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
